.single-playlist-container {
    padding: 20px 10px 10px 10px;
}

.single-playlist-container-info {
    /* display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: white 1px dotted;
}

.single-playlist-container-info button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-align: left;
    color: rgb(179, 179, 179);
    &:hover {
        color: white;
    }
}

.single-playlist-container-info h4 {
    color: rgb(222, 222, 222);
}

.single-playlist-container-info div {
    /* width: 50%; */
    display: flex;
    flex-direction: row;
}

.single-playlist-container-info div ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px 10px 20px;
}

.single-playlist-container-info div h1 {
    width: 880px;
    font-size: 4vw;
    word-wrap: break-word;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 1900px) {
        width: 880px;
    }
    @media screen and (max-width: 1800px) {
        width: 800px;
    }
    @media screen and (max-width: 1700px) {
        width: 720px;
    }
    @media screen and (max-width: 1600px) {
        width: 645px;
    }
    @media screen and (max-width: 1500px) {
        width: 605px;
    }
    @media screen and (max-width: 1450px) {
        width: 565px;
    }
    @media screen and (max-width: 1400px) {
        width: 485px;
    }
    @media screen and (max-width: 1300px) {
        width: 405px;
    }
    @media screen and (max-width: 1200px) {
        width: 270px;
    }
    @media screen and (max-width: 1024px) {
        width: 250px;
    }
}

.single-playlist-container-info img {
    width: 250px;
    padding: 10px 10px 10px 0;
}

.single-playlist-container-info section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px 10px 30px;
    gap: 20px;
}

.delete-modal {
    border-radius: 10px 10px;
    padding: 30px;
    width: 360px;
    min-height: 185px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-modal h2 {
    color: black;
    font-size: 28px;
    font-weight: bolder;
}

.delete-modal h4 {
    color: black;
}

.delete-modal div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    padding-top: 40px;
}

.nobtn {
    background: transparent;
    color: black;
    border: none;
    font-size: 18px;
    &:hover {
        transform: scale(1.03);
    }
}

.yesbtn {
    background-color: rgb(29,185,84);
    font-size: 18px;
    color: black;
    padding: 5px 22px 5px 22px;
    border-radius: 25px 25px;
    border: none;
    outline: 2px solid rgb(0, 123, 255);
    outline-offset: 1px;
    &:hover {
        transform: scale(1.03);
    }
}

.playlist-song-list-intro {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 0.5fr 5fr 5fr 1fr 2fr 2fr;
    align-items: center;
    padding: 0 20px 0 20px;
    border-bottom: rgb(179, 179, 179) 1px solid;
}

.playlist-song-list-intro h3 {
    justify-self: flex-end;
    color: rgb(179, 179, 179);
}

.playlist-song-list-details {
    padding-top: 10px;
    /* height: 300px; */
    /* margin-right: 20px; */
}

.playlist-song-list-details button {
    background-color: transparent;
    border: none;
    color: rgb(179, 179, 179);
    &:hover {
        color: white;
    }
    padding: 5px;
}

.playlist-song-list-each {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 0.5fr 5fr 5fr 1fr 2fr 2fr;
    align-items: center;
    padding: 2px 20px 2px 20px;
    border-radius: 5px 5px;
}

.playlist-song-list-each:hover {
    background-color: rgb(83, 83, 83);
    cursor: default;
    & .fa-play {
        display: block;
        color: green;
    }
    & h3 {
        display: none;
    }
}

.playlist-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 20px 0 20px 0;
}

.favIcon button {
    border: none;
    background-color: transparent;
    :hover {
        transform: scale(1.02);
    }
}

.play-button button {
    border: none;
    background-color: transparent;
    :hover {
        transform: scale(1.05);
    }
}

.play-button i {
    font-size: 49px;
    color: rgb(29,185,84);
}
