/* TODO Add site wide styles */
* {
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    height: 55rem;
    /* justify-items: center; */
    /* align-items: center; */
    gap: 8px;
    background-color: rgb(18, 18, 18);
}

.leftContainer {
    width: 20%;
    /* height: 35%; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 0 10px 10px;
}

.headerContainer {
    /* width: 100%; */
    height: 6rem;
    border: black 1px solid;
    border-radius: 10px 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(33, 33, 33);
}

.barContainer {
    height: 676px;
    border: black 1px solid;
    border-radius: 10px 10px;
    padding: 10px 0 10px 10px;
    background-color: rgb(33, 33, 33);
}

.rightContainer {
    width: 80%;
    /* height: 51rem; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 0;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px 10px;
    padding: 10px 10px 10px 20px;
    height: 100%;
    /* background-color: rgb(33, 33, 33); */
    background: linear-gradient(to top, rgb(33, 33, 33)75%, rgb(4, 37, 6)100%);
}


#modal-content {
    background-color: transparent;
}