.sign-up-modal {
    width: 550px;
    height: 530px;
}

.sign-up-modal h1 {
    font-size: 30px;
}

.sign-up-modal form {
    width: 70%;
} 

.sign-up-modal form button {
    margin-top: 40px;
}

.sign-up-modal form section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}