.sign-up-modal {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 560px;
}

.sign-up-modal h1 {
    font-size: 30px;
}

.sign-up-modal form button {
    margin-top: 40px;
}

.sign-up-modal form section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
