.Audio-Bar {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.Audio-Bar #btn1 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

#btn1 img {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px 5px;
}

#btn1 img:hover {
    outline-offset: 5px;
    outline: gray dotted 2px;
}

#btn1 h4 {
    color: rgb(185, 181, 181);
}

#btn2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#btn2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn2-2 {
    width: 500px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 10fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.btn2-2 h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#btn3 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    gap: 7px;
}

#btn3 i {
    color: rgb(185, 181, 181);
    cursor: pointer;
}

#btn3 i:hover {
    color: white;
}

.Audio-Bar button {
   background-color: transparent;
   border: none;
   font-size: 26px;
   &:hover {
        transform: scale(1.05);
   }
   &:disabled {
        background-color: transparent;
        transform: none;
        cursor: default;
   }
   &:disabled i {
        color: gray;
   }
}

.progressBar {
    --seek-before-width: 0;

    appearance: none;
    background: grey;
    border-radius: 10px 10px;
    position: relative;
    width: 100%;
    height: 4px;
    outline: none;
}

.progressBar::before {
    content: "";
    height: 4px;
    width: var(--seek-before-width);
    background-color: green;
    border-radius: 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
}

.progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

.progressBar::-webkit-slider-thumb:hover {
    outline: green solid 2px;
    outline-offset: 3px;
}

/* .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
} */


.volumeSlider {
    --volume: 50px;

    appearance: none;
    background: grey;
    border-radius: 10px 10px;
    position: relative;
    width: 100px;
    height: 5px;
    outline: none;
}

.volumeSlider::before {
    content: "";
    height: 5px;
    width: var(--volume);
    background-color: green;
    border-radius: 10px 10px;
    position: absolute;
    outline: none;
    top: 0;
    left: 0;
    z-index: 2; 
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

.volumeSlider::-webkit-slider-thumb:hover {
    outline: green solid 2px;
    outline-offset: 3px;
}


#shuffle-icon i {
    color: green;
}

#loop-icon i {
    color: green;
}





