.upload-song-page {
    padding: 40px 0 80px 0;
    margin-top: 30px;
    border: white 2px solid;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.upload-song-page h5 {
    /* padding: 30px 0 0 45px; */
    padding-top: 40px;
    width: 70%;
    font-size: 12px;
}

.upload-song-page form {
    width: 70%;
    padding-top: 30px;
    /* border: white 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upload-song-page div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.upload-song-page input {
    color: black;
    width: 100%;
    height: 35px;
    border-radius: 5px 5px;
    border: none;
    padding-left: 5px;
    font-size: 17px;
}

.fileinput input {
    color: white;
    width: 100%;
    height: 35px;
    border-radius: 5px 5px;
    border: none;
    padding: 0;
}

.upload-song-page .fileinput {
    width: 100%;
}

.upload-song-page button {
    width: 45%;
    height: 38px;
    border-radius: 20px 20px;
    border: none;
    background-color: rgb(29,185,84);
    color: black;
    font-size: 17px;
    align-items: center;
    margin-left: auto;
    /* margin-right: 30px; */
    margin-top: 20px;
    &:hover {
        transform: scale(1.02);
    }    
}

#loading {
    font-size: 22px;
    color: rgb(29,185,84);
}

.upload-album-page {
    padding: 30px 0 20px 0;
    margin-top: 30px;
}