.song-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.song-list-intro {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 6fr 3fr 2fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    /* border: white 2px solid; */
    gap: 7px;
    color: rgb(57, 112, 160);
    border-bottom: white 1px solid;;
}

.song-list-details {
    height: 633px;
    overflow-y:scroll;
}

.song-list-details::-webkit-scrollbar {
    width: 8px;
}

.song-list-details::-webkit-scrollbar-track {
    background: transparent;
}

.song-list-details::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 83);
    border-radius: 5px 5px;
}

.song-list-details::-webkit-scrollbar-thumb:hover {
    background-color: rgb(179, 179, 179);
}

.song-list-each {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 6fr 3fr 2fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    /* border: white 2px solid; */
    gap: 7px;
    padding: 7px 0 7px 0;
}

.song-list-each:hover {
    background-color: rgb(83, 83, 83);
    cursor: default;
}

.song-list button {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}


