.song-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 0 10px;
}

.song-list-intro {
    width: 98%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 6fr 3fr 2fr 2fr;
    /* justify-content: center;
    align-items: center; */
    justify-items: center;
    /* border: white 2px solid; */
    gap: 7px;
    padding: 5px 5px 5px 0;
    color: rgb(57, 112, 160);
    border-bottom: white 1px solid;;
}

.song-list-intro h4 {
    justify-self: left;
}

.song-list-intro h5 {
    justify-self: left;
    font-size: 17px;
    padding-left: 25px;
}

.song-list-details {
    /* font-size: 17px; */
    height: 70vh;
    overflow-y:scroll;
}

.song-list-details::-webkit-scrollbar {
    width: 8px;
}

.song-list-details::-webkit-scrollbar-track {
    background: transparent;
}

.song-list-details::-webkit-scrollbar-thumb {
    background-color: rgb(83, 83, 83);
    border-radius: 5px 5px;
}

.song-list-details::-webkit-scrollbar-thumb:hover {
    background-color: rgb(179, 179, 179);
}

.song-list-each {
    width: 99%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 6fr 3fr 2fr 2fr;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: white 2px solid; */
    justify-items: center;
    gap: 7px;
    padding: 8px 0 8px 0;
    border-radius: 4px 4px;
}

.song-list-each:hover {
    /* margin-right: 20px; */
    background-color: rgb(83, 83, 83);
    cursor: default;
    & .fa-play {
        display: block;
        color: green;
    }
    & h3 {
        display: none;
    }
}

.song-list-each h4 {
    justify-self: left;
}

.song-list-each h5 {
    justify-self: left;
    font-size: 17px;
    padding-left: 25px;
}

.song-list button {
    background-color: transparent;
    border: none;
    color: rgb(179, 179, 179);
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.add-to-playlist-btn {
    justify-self: center;
}

.add-song-to-playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 420px;
    height: 270px;
}

.add-song-to-playlist form {
    display: flex;
    display: flex;
    flex-direction: row;
    width: 400px
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 30px; */
}

.add-song-to-playlist form select  {
    width: 100px;
    font-size: 16px;
}

.add-song-to-playlist form button {
    margin-top: 40px;
}

.add-to-song-create-playlist {
    display: flex;
    display: flex;
    flex-direction: row;
    width: 420px
}
